{% extends 'base.html' %}
{% block content %}
<div class="auth-page">
    <div class="auth-container">
        <div class="auth-content">
            <h1>Login</h1>
            <label for="login-user">Username</label>
            <input id="login-user" type="text">
            <label for="login-pass">Password</label>
            <input id="login-pass" type="password">
            <button>Login</button>
            <a href="/registration">Register for an account!</a>
        </div>
    </div>
</div>

{% endblock %}