<!DOCTYPE HTML>
<html>
  <head>
    <title> Build Your PC! </title>
    
    <link rel="stylesheet" type="text/css" href="/static/css/global.css"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    
    <link rel="stylesheet" type="text/css" href="/static/css/style.css"/>
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>


    <script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
    <script src="/static/js/auth.js"></script>
    <script src="/static/js/parts.js"></script>
    <script src="/static/js/script.js"></script>
  </head>

  <body>
    <header>
      <div class="company-logo"><a href="/">BYPC</a></div>

      <nav class="navbar">
        <ul class="nav-items">
          <li class="nav-item"><a href="/" class="nav-link">HOME</a></li>
          <li class="nav-item"><a href="/parts-dashboard" class="nav-link">PARTS</a></li>
          <li class="nav-item"><a href="#" class="nav-link">SHOP</a></li>

          {% if session.token is defined %}
          <li class="nav-item"><a href="/logout" class="nav-link">Logout</a></li>
          {% else %}
          <li class="nav-item"><a href="/auth" class="nav-link">Register|Login</a></li>
          {% endif %}
        </ul>
      </nav>

      <div class="menu-toggle">
        <i class="bx bx-menu"></i>
        <i class="bx bx-x"></i>
      </div>
    </header>

    <main>
      {% block content %}
      {% endblock %}
    </main>

    <footer>
      <div class="container top-footer">
        <!-- footer item 1 -->
        <div class="footer-item">
          <h2 class="footer-title">BYPC</h2>
          <div class="footer-items">
            <a href="#"><h3>Builder</h3></a>
            <a href="#"><h3>Products</h3></a>
            <a href="#"><h3>Guides</h3></a>
            <a href="#"><h3>Completed Builds</h3></a>
            <a href="#"><h3>Trends</h3></a>
            <a href="#"><h3>Forums</h3></a>
          </div>
        </div>
        <!-- footer item 2 -->
        <div class="footer-item">
          <h2 class="footer-title">ACCOUNT</h2>
          <div class="footer-items">
            <a href="/auth"><h3>Log In</h3></a>
            <a href="/auth"><h3>Register</h3></a>
          </div>
        </div>
        <!-- footer item 3 -->
        <div class="footer-item">
          <h2 class="footer-title">COMPANY</h2>
          <div class="footer-items">
            <a href="#"><h3>About</h3></a>
            <a href="#"><h3>Affiliate Disclosure</h3></a>
            <a href="#"><h3>Contact/Import</h3></a>
            <a href="#"><h3>Do Not Sell My Personal Information</h3></a>
            <a href="#"><h3>Privacy Policy</h3></a>
          </div>
        </div>
        <!-- footer item 4 -->
        <div class="footer-item">
          <h2 class="footer-title">INFORMATION</h2>
          <div class="footer-items">
            <a href="#"><h3>Downloads</h3></a>
            <a href="#"><h3>Industry Code of Conduct</h3></a>
            <a href="#"><h3>User Code of Conduct</h3></a>
          </div>
        </div>
      </div>
      <div class="container end-footer">
        <div class="copyright">copyright © 2024 - BYPC</div>
      </div>
    </footer>
  </body>
</html>
