{% extends "base.html" %}
{% block content %}
<!-- Need to make a pretty banner image or something. -->
<section class="section-hero">
  <div class="hero"> 
    <div class="hero-text-box">
      <h1 class="heading-primary">Build Your PC with the Newest Parts</h1>
      <p class="hero-description">We provide part selection, pricing, and compatibility guidance for do-it-yourself computer builders.
      </p>
      <a href="/auth" class="btn btn--full margin-right-sm">Start Building</a>
      <a href="#" class="btn btn--outline">Learn more &darr;</a>
    </div>
    
    <div class="pc-img-box">
      <img src="/static/img/PC-header.jpg" class="pc-img" alt="NO IMAGE" />
    </div>
  </div>
</section>

{% endblock %}

