{% extends "base.html" %}
{% block content %}
<!-- Need to make a pretty banner image or something. -->
<div class = "banner">
  <div class = "banner-content">
    <h2> BYPC </h2>
    <h1> Design your PC in a way you never have before. </h1>
  </div>
</div>
<div class = "cards">
  <div class = "card">
    <img alt="drawing of a cat" src = "https://placehold.co/600x400" />
    <h3> Explore </h3>
    <p> You can browse - and even suggest - changes to certain lists! </p>
  </div>
  <div class = "card">
    <img alt="drawing of a cat" src = "https://placehold.co/600x400" />
    <h3> Community </h3>
    <p> Join our community of PC enthusiasts, browse information, and keep up to date! </p>
  </div>
  <div class = "card">
    <img alt="drawing of a cat" src = "https://placehold.co/600x400" />
    <h3> Contribute </h3>
    <p> We're an open platform - both our code as well as development. Contribute, give feedback,
        and report bugs! We promise we look. </p>
  </div>
</div>

{% endblock %}

