{% extends "base.html" %}
{% block content %}
<div class = "auth-page">
    <div class="auth-container">
        <div class="auth-content">
            <h1>Register</h1>
            <label for="register-email">Email</label>
            <input id="register-email" type="email">
            <label for="register-username">Username</label>
            <input id="register-username" type="text">
            <label for="register-password">Password</label>
            <input id="register-password" type="password">
            <label for="register-confirm">Confirm Password</label>
            <input id="register-confirm" type="password">
            <button>Register</button>
        </div>
    </div>
</div>

{% endblock %}