.banner {
  width: 100%;
  min-height: 30vh;
  height: 40rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  color: white;
  font-family: Rubik, 'sans-serif';
}

.logo-box {
    display: flex !important;
    flex-direction: row;
}

.header-title {
    font-size: 28pt !important;
    margin-left: 5px;
}

.header-logo {
    width: 40px;
}

.banner .banner-content h1 {
  margin: 1rem 0;
  font-size: 5rem;
}

.cards {
  flex-direction: row;
  display: flex;
  align-items: start;
  justify-content: center;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 26rem;
  text-align: center;
}
.card img {
  height: 16rem;
  width: 24rem;
  margin: 1rem min(5rem, max(.5rem, calc(80vw / 6 - 12rem)));
  padding: 0;
}

/* Login/Register page */
.auth-page {
    display: flex;
    align-items: center;
    width: 100%;
    min-height: 70vh;
    background-color: #fff;
}

.auth-container {
    margin-left: auto;
    margin-right: auto;
    width: 350px;
    background-color: #fff;
    border: 1px solid #cbcbcb;
    border-radius: 5px;
    box-shadow: 5px 5px 5px #a1a1a1;
}

.auth-content {
    display: flex;
    flex-direction: column;
    padding: 20px;
    font-family: Rubik, serif;
}

.auth-content h1 {
    margin-top: 0;
    font-size: 24pt;
    margin-bottom: 20px;
}

.auth-content label {
    font-size: 10pt;
}

.auth-content input {
    height: 35px;
    font-size: 14pt;
    padding-left: 5px;
    margin-bottom: 14px;
    margin-top: 5px;
    background-color: #f8f8f8;
    color: dimgray;
    border: 1px solid gray;
    border-radius: 4px;
    outline: none;
}

.auth-content button {
    align-self: center;
    width: 100%;
    height: 40px;
    font-size: 14pt;
    margin-top: 15px;
    margin-bottom: 10px;
    background-color: rgb(43, 43, 43);
    color: white;
    border: 1px solid gray;
    border-radius: 4px;
    transition: background-color 0.3s ease-out;
}

.auth-content button:hover {
    cursor: pointer;
    background-color: rgb(85, 85, 85);
    border: 1px solid gray;
}

.auth-content a {
    align-self: center;
    text-decoration: none;
    color: #4f7b94;
    font-size: 10pt;
}

.auth-content form {
    display: flex;
    flex-direction: column;
}

#form-register input:user-invalid {
    border: 1px solid red !important;
}

#form-login input:user-invalid {
    border: 1px solid red !important;
}

.input-error {
    border: 1px solid red !important;
}

/* Parts Dashboard Page */
.parts-dashboard {
    width: 100%;
    min-height: 90vh;
    margin-left: auto;
    margin-right: auto;
}

.parts-table-container {
    width: 70%;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}

.user-builds {
    height: 30px;
    width: 125px;
}

.view-lists-content {
    margin: 20px 0 20px 0;
}

button:disabled {
    cursor: default !important;
    background-color: darkgrey !important;
}

table {
    border-collapse: collapse;
    width: 100%;
}

table th {
    padding: 0.5rem 0.5rem 0.5rem 0;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    font-size: 1.125rem;
    line-height: 1;
    font-weight: normal;
    text-align: left;
    vertical-align: bottom;
}

table tbody tr {
    border-color: #d2d2d2;
    border-top-style: solid;
    border-top-width: 1px;
    height: 50px;
}

.margin-right {
    margin-right: 0.75rem;
}

.page-button,tbody button{
    padding: 0.15rem 1rem 0 1rem;
    border: none;
    border-radius: 5px;
    background-color: var(--main-color-blue);
    color: white;
    font-weight: bold;
    height: 30px;
    width: auto;
    cursor: pointer;
}

table .th-component {
    min-width: 200px;
}

table .th-selection {
    min-width: 500px;
}

.th-price, .th-shipping, .th-total {
    min-width: 65px;
}

.th-remove {
    min-width: 40px;
}

.td-component {
    font-weight: bold;
    font-size: 12pt;
    color: #11557C;
}

.td-selection {
    font-size: 11pt;
}

.remove-button {
    background: none;
    height: 23px;
}

.remove-icon {
    width: 10px;
}

/* Parts-List Page */
.parts-list-container {
    width: 100%;
    min-height: 90vh;
    margin-left: auto;
    margin-right: auto;
}

.page-header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    color: white;
    font-size: 20pt;
    font-weight: bold;
    background-color: #11557C;
}

.parts-table-box {
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}

.parts-list-filter {
    width: 240px;
    /*border: solid 1px black;*/
}

.parts-list-table {
    width: 100%;
}

.name-column {
    width: 375px;
}

.name-cell, .price-cell {
    font-size: 12pt !important;
    font-weight: 500 !important;
}

.parts-list-table tbody td {
    font-weight: 300;
    font-size: 10pt;
}

.price-column {
    width: 70px;
}

.add-column {
    width: 40px;
}