{% extends 'base.html' %}
{% block content %}
<div class="parts-dashboard">
    <div class="parts-dashboard-header">
        Header
    </div>
    <div class="parts-table-container">
        <table class="parts-table">
            <thead>
                <tr>
                    <th class="th-component">Component</th>
                    <th class="th-selection">Selection</th>
                    <th class="th-price">Price</th>
                    <th class="th-shipping">Shipping</th>
                    <th class="th-total">Total</th>
                    <th class="th-remove"></th>
                </tr>
            </thead>
            <tbody>
                <tr id="cpu">
                    <td class="td-component">CPU</td>
                    <td class="td-selection"><button class="btn btn--full" onclick="onLoadDashboard('cpu')">+ Select</button></td>
                    <td class="td-price">-</td>
                    <td class="td-shipping">-</td>
                    <td class="td-total">-</td>
                    <td class="td-remove"></td>
                </tr>
                <tr id="cpu-cooler">
                    <td class="td-component">CPU Cooler</td>
                    <td class="td-selection"><button class="btn btn--full" onclick="onLoadDashboard('cpu-cooler')" disabled>+ Select</button></td>
                    <td class="td-price">-</td>
                    <td class="td-shipping">-</td>
                    <td class="td-total">-</td>
                    <td class="td-remove"></td>
                </tr>
                <tr id="motherboard">
                    <td class="td-component">Motherboard</td>
                    <td class="td-selection"><button class="btn btn--full" onclick="onLoadDashboard('motherboard')">+ Select</button></td>
                    <td class="td-price">-</td>
                    <td class="td-shipping">-</td>
                    <td class="td-total">-</td>
                    <td class="td-remove"></td>
                </tr>
                <tr id="memory">
                    <td class="td-component">Memory</td>
                    <td class="td-selection"><button class="btn btn--full" onclick="onLoadDashboard('memory')">+ Select</button></td>
                    <td class="td-price">-</td>
                    <td class="td-shipping">-</td>
                    <td class="td-total">-</td>
                    <td class="td-remove"></td>
                </tr>
                <tr id="storage">
                    <td class="td-component">Storage</td>
                    <td class="td-selection"><button class="btn btn--full" onclick="onLoadDashboard('internal-hard-drive')" disabled>+ Select</button></td>
                    <td class="td-price">-</td>
                    <td class="td-shipping">-</td>
                    <td class="td-total">-</td>
                    <td class="td-remove"></td>
                </tr>
                <tr id="video-card">
                    <td class="td-component">Video Card</td>
                    <td class="td-selection"><button class="btn btn--full" onclick="onLoadDashboard('gpu')">+ Select</button></td>
                    <td class="td-price">-</td>
                    <td class="td-shipping">-</td>
                    <td class="td-total">-</td>
                    <td class="td-remove"></td>
                </tr>
                <tr id="case">
                    <td class="td-component">Case</td>
                    <td class="td-selection"><button class="btn btn--full" onclick="onLoadDashboard('chassis')">+ Select</button></td>
                    <td class="td-price">-</td>
                    <td class="td-shipping">-</td>
                    <td class="td-total">-</td>
                    <td class="td-remove"></td>
                </tr>
                <tr id="power-supply">
                    <td class="td-component">Power Supply</td>
                    <td class="td-selection"><button class="btn btn--full" onclick="onLoadDashboard('psu')">+ Select</button></td>
                    <td class="td-price">-</td>
                    <td class="td-shipping">-</td>
                    <td class="td-total">-</td>
                    <td class="td-remove"></td>
                </tr>
                <tr id="operating-system">
                    <td class="td-component">Operating System</td>
                    <td class="td-selection"><button class="btn btn--full" onclick="onLoadDashboard('os')" disabled>+ Select</button></td>
                    <td class="td-price">-</td>
                    <td class="td-shipping">-</td>
                    <td class="td-total">-</td>
                    <td class="td-remove"></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
{% endblock %}
