{% extends 'base.html' %}
{% block content %}

<div class="parts-list-container">
    <div class="parts-list-header">
        Header
    </div>
    <div class="parts-table-box">
        <div class="parts-list-filter">
            Filter
        </div>
        <div class="parts-list-table">
            <table id="parts-list">
<!--                <thead>-->
<!--                    <tr>-->
<!--                        <th class="name-column">Name</th>-->
<!--                        <th>Core Count</th>-->
<!--                        <th>Integrated Graphics</th>-->
<!--                        <th>Multithreading</th>-->
<!--                        <th class="price-column">Price</th>-->
<!--                        <th class="add-column"></th>-->
<!--                    </tr>-->
<!--                </thead>-->
<!--                <tbody>-->
<!--                    <tr>-->
<!--                        <td class="name-cell">AMD Ryzen 7 7800X3D</td>-->
<!--                        <td>8</td>-->
<!--                        <td>Radeon</td>-->
<!--                        <td>Yes</td>-->
<!--                        <td class="price-cell">$357.00</td>-->
<!--                        <td><button>Add</button></td>-->
<!--                    </tr>-->
<!--                    <tr>-->
<!--                        <td class="name-cell">AMD Ryzen 5 7600X</td>-->
<!--                        <td>6</td>-->
<!--                        <td>Radeon</td>-->
<!--                        <td>Yes</td>-->
<!--                        <td class="price-cell">$209.95</td>-->
<!--                        <td><button>Add</button></td>-->
<!--                    </tr>-->
<!--                </tbody>-->
            </table>
        </div>
    </div>
</div>

<script>
    $(function() {
        const url = window.location.href;
        const component = url.substring(url.lastIndexOf('/') + 1);
        onLoadPartList(component);
    })
</script>

{% endblock %}