{% extends 'base.html' %}
{% block content %}

<div class="parts-list-container">
    <div class="parts-list-header">
        Header
    </div>
    <div class="parts-table-box">
        <div class="parts-list-filter">
            Filter
        </div>
        <div class="parts-list-table">
            <table id="parts-list">
                <!-- Data inserted from API -->
            </table>
        </div>
    </div>
</div>

<script>
    $(function() {
        const url = window.location.href;
        const component = url.substring(url.lastIndexOf('/') + 1);
        onLoadPartList(component);
    })
</script>

{% endblock %}